/* _content/TripPlanner_1/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.bg-orange[b-jk94vbzwd6] {
  background-color: orange ;
}

.bg-lightgreen[b-jk94vbzwd6] {
  background-color: lightgreen;
}
a.navbar-brand[b-jk94vbzwd6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-jk94vbzwd6] {
  color: #0077cc;
}

.btn-primary[b-jk94vbzwd6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-jk94vbzwd6], .nav-pills .show > .nav-link[b-jk94vbzwd6] {
  color: blue;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-jk94vbzwd6] {
  border-top: 0.5px solid #e5e5e5;
}
.border-bottom[b-jk94vbzwd6] {
  border-bottom: 0.2px solid #e5e5e5;
}

.box-shadow[b-jk94vbzwd6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-jk94vbzwd6] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-jk94vbzwd6] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 20px;
}

.navbar-custom[b-jk94vbzwd6] {
  height: 60px; 
}

